<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      id="viewport"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script>
      window.SENTRY_DSN = '<%= process.env.SENTRY_DSN %>';
    </script>
    <script>
      if (location.pathname.indexOf('/dashboard') > -1) {
        /**
         * This script will set the 'initial-scale' value on the viewport metatag
         * The scale is used to fit the template on Kindle Fire mobile devices
         * This must be handled in the head of the document because the scale
         * is not affected once the page finishes loading
         */
        var vp = document.getElementById('viewport');
        var initialScale = Math.max(screen.width, screen.height) / 1920;
        vp.setAttribute(
          'content',
          'width=device-width, initial-scale=' +
            initialScale +
            ', maximum-scale=' +
            initialScale,
          +'minimum-scale=' + initialScale
        );
      }
    </script>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json"
    />
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
    <meta
      name="theme-color"
      content="<%= htmlWebpackPlugin.options.manifest.theme_color %>"
    />
    <% } %> <% for (var chunk of webpack.chunks) { %> <% if (chunk.names.length
    === 1 && chunk.names[0] === 'polyfills') continue; %> <% for (var file of
    chunk.files) { %> <% if (htmlWebpackPlugin.options.preload &&
    file.match(/\.(js|css)$/)) { %>
    <link
      rel="preload"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
      as="<%= file.match(/\.css$/)?'style':'script' %>"
    />
    <% } else if (file.match(/manifest\.json$/)) { %>
    <link
      rel="manifest"
      href="<%= htmlWebpackPlugin.files.publicPath + file %>"
    />
    <% } %> <% } %> <% } %>
  </head>

  <body>
    <%= htmlWebpackPlugin.options.ssr({ url: '/' }) %>
    <script
      defer
      src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"
    ></script>
    <script>
      window.fetch ||
        document.write(
          '<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>'
        );
    </script>
  </body>
</html>
