{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["jsx-a11y", "react"],
  "rules": {
    "react/jsx-no-bind": [2, { "ignoreRefs": true }],
    "react/jsx-no-duplicate-props": 2,
    "react/self-closing-comp": 2,
    "react/prefer-es6-class": 2,
    "react/no-string-refs": 2,
    "react/require-render-return": 2,
    "react/no-find-dom-node": 2,
    "react/no-is-mounted": 2,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-curly-spacing": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "import/extension": 0,
    "prettier/prettier": ["error"],
    "prefer-const": "error",
    "settings": {
      "react": {
        "pragma": "h"
      }
    }
  }
}
