doctype html
html
  head
    title Twilio SMS Coffee Shop
    link(href='/styles/Site.css', rel='stylesheet', type='text/css')
    link(href='/styles/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='/scripts/modernizr-2.6.2.js')
    script(src='/scripts/jquery-1.10.2.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta#Viewport(name='viewport', width='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0')
    script(type='text/javascript').
      $(function() {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
      var ww = ($(window).width() < window.screen.width) ? $(window).width() : window.screen.width;
      //get proper width
      var mw = 480; // min width of site
      var ratio = ww / mw; //calculate ratio
      if (ww < mw) { //smaller than minimum size
      $('#Viewport')
      .attr('content',
      'initial-scale=' +
      ratio +
      ', maximum-scale=' +
      ratio +
      ', minimum-scale=' +
      ratio +
      ', user-scalable=0, width=' +
      ww);
      } else { //regular size
      $('#Viewport')
      .attr('content',
      'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=0, width=' + ww);
      }
      }
      });
  body
    block body
    script(src='/scripts/bootstrap.min.js')
    block scripts
