extends _layout.pug

block body
  h2 Details
  div
    h4 Order
    hr
    dl.dl-horizontal
      dt Time
      dd= order.time
      dt Name
      dd= order.name
      dt Fulfilled
      dd= order.fulfilled
  p
    a(href=`/orders/${order.id}/edit`) Edit
    | |
    a(href="/orders") Back to List
