extends _layout.pug

block body
  h2 Delete
  h3 Are you sure you want to delete this?
  div
    h4 Order
    hr
    dl.dl-horizontal
      dt  model.Time
      dd  model.Time
      dt  model.Name
      dd  model.Name
      dt  model.Fulfilled
      dd  model.Fulfilled
    form
      .form-actions.no-color
        input.btn.btn-default(type='submit', value='Delete')
        a(href="/orders") Back to List
