<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Setup Twilio Barista
body
  h1 Congratulations! 
  p.
    You successfully deployed Twilio Barista. Now all you need to do is set up
    the webhook for you messaging service. Make sure to point the incoming messages
    webhook of your Facebook and SMS messaging service to:
  h3
    pre= webhookurl

  p.
    Once you configured your application you can go to the orders list and see the 
    messages flow in.

  p
    a(href="/orders") View Orders